/* Global elements */

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Map */

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#marker {
	margin-top: -22px;
  	width: 50px;
  	height: 50px;
}

#marker svg {
	width: 100%;
	height: 100%;
}

/* Shared styles */

#title, #search-input, #search-results-container, #legend {
	padding: 10px;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	border-radius: 3px;
	box-shadow: 0 1px 2px #1a1a1a;
}

#search-input, #search-results-container, #legend {
	background-color: #fff;
}

#search-input-container, #search-results-container {
	display: none;
	position: relative;
	margin-top: 10px;
}

#search-input:focus, .empty-container button:focus {
	outline: none;
	box-shadow: 0 0 0 2px #0099ff;
}

#search-input, .empty-container dt {
	color: #808080;
}

#clear, #legend {
	position: absolute;
}

#search-results-counter h4, .empty-container p {
	margin: 0;
}

.empty-container h3, #legend h4 {
	margin: 0 0 10px;
}

/* Primary interaction area */

#top-left, #top-left * {
	z-index: 2;
}

#top-left {
	display: inline-block;
	width: auto;
	margin-top: 10px;
	margin-right: 49px; /* Leave room for map controls */
	margin-left: 10px;
}

/* Site title */

#title {
	position: relative;
	color: #fff;
	border: 1px solid #808080;
	background-color: #000;
}

#title h2 {
	margin: 0;
}

/* Search input */

#search-input-container {
	width: 180px;
}

#search-input {
	width: 100%;
	height: 20px;
	border: 0;
}

#clear {
	display: none;
	top: 5px;
    right: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#clear img {
	position: absolute;
	top: 7px;
	right: 7px;
}

/* Search results list */

#search-results-container {
	width: 200px;
	padding: 0;
	overflow: hidden;
}

#search-results-counter {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 5px 10px;
	color: #fff;
	background-color: #000;
}

#search-results-list {
	width: 200px;
	max-height: 260px;
	margin-top: 30px;
	overflow-y: scroll;
}

.empty-container {
	margin: 10px;
}

.empty-container dd {
	margin-left: 16px;
	margin-bottom: 6px;
}

.empty-container button {
	width: 100%;
	padding: 5px;
	font-weight: bold;
	color: #fff;
	border: 1px solid #000000;
	border-radius: 3px;
	background-color: #808080;
	cursor: pointer;
}

/* Search results listitem */

.search-result {
	padding: 10px;
	border-bottom: 1px solid #808080;
}

.search-result:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}

#search-results-list .search-result:last-child {
	border-bottom: 0;
}

.search-result p {
	margin: 0;
}

/* Map legend */

#legend {
	right: 10px;
	bottom: 60px; /* Leave room for compact attribution overlay */
	z-index: 1;
}

#legend div span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border: 1px solid #000;
	border-radius: 50%;
}
