/* Global elements */

body {
	margin: 0;
	padding: 0;
}

/* Map */

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.mapboxgl-canvas-container.mapboxgl-interactive {
	cursor: move;
} 

#marker {
	margin-top: -22px;
  	width: 50px;
  	height: 50px;
}

#marker svg {
	width: 100%;
	height: 100%;
}

/* Shared styles */

#title, #search-input, #search-results-container, #legend {
	position: absolute;
	padding: 10px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border-radius: 3px;
	box-shadow: 0 1px 2px #1a1a1a;
	z-index: 1;
}

#search-input, #legend {
	background-color: #fff;
}

#search-input:focus, .empty-container button:focus {
	outline: none;
	box-shadow: 0 0 0 2px #0099ff;
}

#search-results-counter h4, .empty-container p {
	margin: 0;
}

.empty-container h3, #legend h4 {
	margin: 0 0 10px;
}

/* Site title */

#title {
	top: 10px;
	left: 10px;
	color: #fff;
	border: 1px solid #808080;
	background-color: #000;
}

#title h2 {
	margin: 0;
}

/* Search input */

#search-input {
	display: none;
	position: absolute;
	top: 60px;
	left: 10px;
	width: 180px;
	height: 20px;
	padding: 10px;
	color: #808080;
	border: 0;
}

/* Search results list */

#search-results-container {
	display: none;
	top: 110px;
	left: 10px;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

#search-results-counter {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 5px 10px;
	color: #fff;
	background-color: #000;
}

#search-results-list {
	width: 200px;
	max-height: 260px;
	margin-top: 30px;
	overflow-y: scroll;
}

.empty-container {
	margin: 10px;
}

.empty-container button {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
	font-weight: bold;
	color: #fff;
	border: 1px solid #000000;
	border-radius: 3px;
	background-color: #808080;
	cursor: pointer;
}

/* Search results listitem */

.search-result {
	padding: 10px;
	border-bottom: 1px solid #808080;
}

.search-result:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}

#search-results-list .search-result:last-child {
	border-bottom: 0;
}

.search-result p {
	margin: 0;
}

/* Map legend */

#legend {
	right: 10px;
	bottom: 50px;
}

#legend div span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border: 1px solid #000;
	border-radius: 50%;
}

/* Responsive */

@media screen and (max-height: 700px) {
	#search-results-list {
		max-height: 200px;
	}
}
