/* Global elements */

body {
	margin: 0;
	padding: 0;
}

/* Map */

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

/* Shared styles */

#title, #search-ctrl input[type='text'], #search-results-container, #legend {
	position: absolute;
	padding: 10px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border-radius: 3px;
	box-shadow: 0 1px 2px #1a1a1a;
	z-index: 1;
}

/* Site title */

#title {
	top: 10px;
	left: 10px;
	color: #fff;
	border: 1px solid #660000;
	background-color: #330000;
}

#title h2 {
	margin: 0;
}

/* Search input */

#search-ctrl {
	position: absolute;
	top: 60px;
	left: 10px;
	padding: 0;
}
 
#search-ctrl input[type='text'] {
	width: 180px;
	color: #808080;
	border: 0;
}

#search-ctrl input[type='text']:focus {
	outline: none;
	box-shadow: 0 0 0 2px #0099ff;
}

#search-ctrl input[type='text'], #legend {
	background-color: #fff;
}

/* Search results list */

#search-results-container {
	top: 110px;
	left: 10px;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

#search-results-counter {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 5px 10px;
	color: #fff;
	background-color: #000;
}

#search-results-counter h4 {
	margin: 0;
}

#search-results-list {
	width: 180px;
	max-height: 260px;
	margin-top: 30px;
	padding: 10px;
	overflow: scroll;
}

/* Search results listitem */

.search-result {
	padding: 10px 0;
	border-bottom: 1px solid #808080;
}

#search-results-list .search-result:first-child {
	padding-top: 0;
}

#search-results-list .search-result:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.search-result button {
	width: 100%;
	padding: 5px;
	font-weight: bold;
	color: #fff;
	border: 1px solid #660000;
	border-radius: 3px;
	background-color: #990000;
}

.search-result button:focus {
	outline: none;
	box-shadow: 0 0 0 2px #0099ff;
}

.search-result h3, #legend h4 {
	margin: 0 0 10px;
}

/* Map legend */

#legend {
	right: 10px;
	bottom: 50px;
}

#legend div span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border: 1px solid #660000;
	border-radius: 50%;
}

/* Responsive */

@media screen and (max-height: 700px) {
	#search-results-list {
		max-height: 200px;
	}
}

@media screen and (max-height: 600px) {
	#search-results-list {
		max-height: 140px;
	}
}